openapi: 3.0.3
info:
  title: Rime AI API
  description: |
    Ultra-low-latency (<200ms) conversational text-to-speech API by Rime AI.
    Features hundreds of voices across Coda, Mist v2, and Mist v3 with
    streaming HTTP output, WebSocket streaming, and custom pronunciation control.
  version: "1.0.0"
  contact:
    name: Rime AI
    url: https://rime.ai
    email: support@rime.ai
  license:
    name: Proprietary
servers:
  - url: https://users.rime.ai
    description: Production server
security:
  - BearerAuth: []
paths:
  /v1/rime-tts:
    post:
      operationId: createTts
      summary: Generate speech (Coda / Mist v3 / Mist v2)
      description: |
        Synthesize speech from text using Rime's TTS models (`coda`, `mistv3`, or `mistv2`).
        The retired `arcana` identifier remains accepted by Rime as a compatibility alias
        that is served by Coda, but new applications should send `coda`.
        Audio bytes are returned in the format indicated by the `Accept` header.

        Supported `Accept` values: `audio/webm;codecs=opus`, `audio/ogg;codecs=opus`,
        `audio/mpeg`, `audio/wav`, `audio/L16`, `audio/PCMU`. The aliases `audio/mp3`,
        `audio/pcm`, and `audio/x-mulaw` are deprecated but remain accepted by Rime.
      tags:
        - TextToSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TtsRequest"
      responses:
        "200":
          description: Synthesized audio bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            audio/L16:
              schema:
                type: string
                format: binary
            audio/ogg:
              schema:
                type: string
                format: binary
            audio/webm:
              schema:
                type: string
                format: binary
            audio/PCMU:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /data/voices/all-v2.json:
    get:
      operationId: listVoices
      summary: List all available voices
      description: |
        Returns a mapping of `modelId` → language code → list of voice names for every
        voice supported by Rime. Language keys follow ISO 639-2 (e.g. `eng`, `spa`).
      tags:
        - Voices
      security: []
      responses:
        "200":
          description: Mapping of model → language → voice names.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVoicesResponse"

  /data/voices/voice_details.json:
    get:
      operationId: listVoiceDetails
      summary: List voice details
      description: |
        Returns an array of voice metadata objects including speaker name, gender, age,
        country, dialect, demographic, genre, language, and the model the voice is
        available under.
      tags:
        - Voices
      security: []
      responses:
        "200":
          description: Array of voice detail objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VoiceDetail"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "API key passed as `Authorization: Bearer <API_KEY>`."

  schemas:
    TtsRequest:
      type: object
      required:
        - speaker
        - text
      properties:
        speaker:
          type: string
          description: |
            The voice used to synthesize the text. Must be one of the voices
            returned by `/data/voices/all-v2.json` for the selected `modelId`.
          example: cove
        text:
          type: string
          description: |
            The text to speak. The cloud API accepts up to 1,000 characters per request.
          maxLength: 1000
          example: "Hello from Rime AI."
        modelId:
          type: string
          description: |
            The TTS model to use. `coda` is the flagship model for new applications,
            `mistv3` prioritizes lowest time to first audio, and `mistv2` retains inline
            pronunciation control. `arcana` is a retired compatibility alias now served
            by Coda; use `coda` for new requests.
          enum:
            - coda
            - arcana
            - mistv3
            - mistv2
          example: coda
        lang:
          type: string
          description: |
            Language identifier for the selected speaker. Must match the speaker's
            language. Both two-letter and three-letter ISO codes are accepted. Coda
            supports English, Arabic, French, German, Hindi, Italian, Japanese,
            Portuguese, and Spanish; Mist v2/v3 support English, French, German,
            and Spanish.
          example: en
        samplingRate:
          type: integer
          description: |
            Output sample rate in Hz. Mist v2 accepts 4000-44100. Coda and Mist v3
            default to 24000; the public API's common range is 8000-96000, with values
            above 24000 produced by upsampling.
          example: 24000
        speedAlpha:
          type: number
          format: float
          description: |
            Adjusts the speed of speech for Mist v2. Values below 1.0 speed up, values
            above 1.0 slow down.
          example: 1.0
        timeScaleFactor:
          type: number
          format: float
          description: |
            Adjusts the speed of speech for Coda and Mist v3. Values above 1.0 slow
            down the audio and values below 1.0 speed it up. Values outside 0.4-2.5
            are clamped by the API.
          minimum: 0.4
          maximum: 2.5
          example: 1.0
        pauseBetweenBrackets:
          type: boolean
          description: |
            Adds pauses between words enclosed in angle brackets, with the pause
            duration specified in milliseconds (e.g. `Hello <500> world`).
          default: false
        phonemizeBetweenBrackets:
          type: boolean
          description: |
            Enables custom pronunciation via phonemes specified inside curly brackets.
            Supported by Mist v2; Coda and Mist v3 accept and ignore this option.
          default: false
        inlineSpeedAlpha:
          type: string
          description: |
            Comma-separated per-word speed multipliers for words inside square brackets.
            Values below 1.0 speed up speech and values above 1.0 slow it down.
          example: "1.2,0.8"
        noTextNormalization:
          type: boolean
          description: |
            Skip text normalization to reduce latency. Available only on Mist v2.
          default: false
        saveOovs:
          type: boolean
          description: |
            Legacy Mist v2 option retained for backward compatibility. The Speech QA
            dashboard it reported to has retired, and Rime no longer documents this
            option for new integrations.
          default: false

    ListVoicesResponse:
      type: object
      description: |
        Object keyed by `modelId` (e.g. `coda`, `mistv3`, `mistv2`). Each value is
        an object keyed by ISO 639-2 language code whose value is an array of voice
        name strings. The public catalog may also contain retired or externally hosted
        models that are not available through Rime cloud.
      additionalProperties:
        type: object
        additionalProperties:
          type: array
          items:
            type: string
      example:
        coda:
          eng:
            - astra
            - albion
          ara:
            - salma
        mistv3:
          eng:
            - abbie
            - allison
        mistv2:
          eng:
            - abbie
          spa:
            - isa
            - mari

    VoiceDetail:
      type: object
      properties:
        speaker:
          type: string
          description: The name of the voice.
          example: Cove
        gender:
          type: string
          description: Voice gender designation.
          example: Male
        age:
          type: string
          description: Age group of the voice.
          example: Middle
        country:
          type: string
          description: Country associated with the voice, typically representing accent.
          example: US
        dialect:
          type: string
          description: Dialect - more specific than country.
          example: Generic
        demographic:
          type: string
          description: Demographic group the voice represents.
          example: General American
        genre:
          type: array
          description: Genres the voice is suitable for.
          items:
            type: string
          example:
            - Conversational
        description:
          type: string
          description: Human-readable description of the voice's sound and delivery.
          example: Bright, lively California, quick and expressive.
        styles:
          type: array
          description: Optional style labels associated with the voice.
          items:
            type: string
          example:
            - formal
            - more energetic
        language:
          type: string
          description: Spoken language the voice is usable for.
          example: English
        lang:
          type: string
          description: Value passed as `lang` when synthesizing with this speaker.
          example: eng
        modelId:
          type: string
          description: Model id that the speaker is available under.
          example: coda
        flagship:
          type: boolean
          description: Whether Rime identifies this voice as a flagship voice.
          example: true

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short identifier.
        message:
          type: string
          description: Human-readable error message.
        detail:
          type: string
          description: Additional detail about the error.
